#hero {
  position: relative;
  max-height: 40vw;
  overflow: hidden;
}

#hero img {
  max-width: 100%;
  height: auto;
  margin-top: -20vw;
}

#hero h1 {
  color: #FFFFFF;
  position: absolute;
  bottom: 5px;
  left: 0;
  right: 0;
  text-align: center;
}
